<configuration>
    <!-- Set the logging level for Kafka consumers -->
    <logger name="org.apache.kafka" level="WARN" />
    <logger name="org.springframework.kafka" level="WARN" />
    <!-- Add this logger to suppress INFO logs from Flink -->
    <logger name="org.apache.flink" level="DEBUG"/> <!-- If you want to suppresses INFO logs
    from Flink then set log level to ERROR-->

    <!-- ... other configurations ... -->
    <springProperty name="springName" scope="context" source="spring.application.name"/>
    <springProperty name="springLoggingFacility" scope="context" source="syslog.logging.facility"/>
    <springProperty name="springLoggingHost" scope="context" source="syslog.logging.host"/>
    <springProperty name="springLoggingPattern" scope="context" source="syslog.logging.pattern"/>
    <springProperty name="springLoggingLevel" scope="context" source="syslog.logging.level"/>
    <springProperty name="springRollingFile" scope="context" source="syslog.logging.rolling.file"/>
    <springProperty name="springRollingFileMaxHistory" scope="context" source="syslog.logging.rolling.file.max.history"/>
    <springProperty name="springRollingFileMaxSize" scope="context" source="syslog.logging.rolling.file.max.size"/>
    <springProfile name="dev, local, default">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${springName}: ${springLoggingPattern}%n</pattern>
            </encoder>
        </appender>
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${springRollingFile}</fileNamePattern>
                <maxHistory>${springRollingFileMaxHistory}</maxHistory>
                <totalSizeCap>${springRollingFileMaxSize}</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${springLoggingPattern}%n</pattern>
            </encoder>
        </appender>
        <!--<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
            <syslogHost>${springLoggingHost}</syslogHost>
            <facility>${springLoggingFacility}</facility>
            <suffixPattern> spring-${springName}: ${springLoggingPattern}</suffixPattern>
        </appender>-->
        <root level="${springLoggingLevel}">
            <appender-ref ref="FILE" />
            <appender-ref ref="STDOUT" />
            <!--<appender-ref ref="SYSLOG" />-->
        </root>
    </springProfile>

    <springProfile name="int, pre, str">
        <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
            <syslogHost>${springLoggingHost}</syslogHost>
            <facility>${springLoggingFacility}</facility>
            <suffixPattern> spring-${springName}: ${springLoggingPattern}</suffixPattern>
        </appender>
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${springRollingFile}</fileNamePattern>
                <maxHistory>${springRollingFileMaxHistory}</maxHistory>
                <totalSizeCap>${springRollingFileMaxSize}</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${springLoggingPattern}%n</pattern>
            </encoder>
        </appender>
        <root level="${springLoggingLevel}">
            <appender-ref ref="SYSLOG" />
        </root>
    </springProfile>

    <springProfile name="liv">
        <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
            <syslogHost>${springLoggingHost}</syslogHost>
            <facility>${springLoggingFacility}</facility>
            <suffixPattern> spring-${springName}: ${springLoggingPattern}</suffixPattern>
        </appender>
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${springRollingFile}</fileNamePattern>
                <maxHistory>${springRollingFileMaxHistory}</maxHistory>
                <totalSizeCap>${springRollingFileMaxSize}</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${springLoggingPattern}%n</pattern>
            </encoder>
        </appender>
        <root level="${springLoggingLevel}">
            <appender-ref ref="SYSLOG" />
        </root>
    </springProfile>
</configuration>
